<!-- File name: about.ejs
Student Name: Thu Ha Le
Student ID: 301259611 
Date: September 27, 2023 -->

<%- include ('partials/header.ejs') %>

<body>
    <div id="all">
        <div class="cursor"></div>
        <div id="breaker">
        </div>
        <div id="breaker-two">
        </div>

        <!--Menubar-->
        <div id="navigation-bar">
            <img src="images/logo.png" alt="logo">
            <div class="menubar">
                <span class="first-span"></span>
                <span class="second-span"></span>
                <span class="third-span"></span>
            </div>
        </div>
        <!--Menubar End-->

        <!--about-->
        <div id="about">
            <div class="color-changer">
                <div class="color-panel">
                    <img src="images/gear.png" alt="">
                </div>
                <div class="color-selector">
                    <div class="heading">Custom Colors</div>
                    <div class="colors">
                        <ul>
                            <li>
                                <a href="#0" class="color-red " title="color-red"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-purple" title="color-purple"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-malt" title="color-malt"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-green" title="color-green"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-blue" title="color-blue"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-orange" title="color-orange"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--about content-->
            <div id="about-content">
                <div class="about-header">
                    About <span class="color">Me</span>
                    <span class="header-caption">Get to Know <span class="color"> me.</span></span>
                </div>
                <div class="about-main">
                    <div class="about-first-paragraph wow">
                        <!--about description-->
                        <span class="about-first-line">
                            I'm creative
                            <span class="color">web developer</span>
                            based in Toronto, Canada </span>
                        <br>
                        <span class="about-second-line"> Self-motivated and collaborative Software Engineering student
                            with a strong foundation in coding, interface design, and Agile practices. Holds experience
                            in business analysis within the fast-paced financial industry, demonstrating skills in risk
                            management, problem-solving, and data-driven decision-making.</span>
                        <div class="cv">
                            <a
                                href="https://drive.google.com/file/d/1vTj5HDq5X7P_XAMQxLQe6s4ftL7G_uxP/view?usp=share_link"><button>Download
                                    CV</button></a>
                        </div>
                    </div>
                    <!--about picture-->
                    <div class="about-img">
                        <img src="images/about.jpeg" alt="Your Image">
                    </div>
                </div>
            </div>
            <!-- my skills -->
            <div id="skills">
                <div class="skills-header">
                    My <span class="color"> Skills</span>
                </div>
                <div class="skills-content " style="text-align: center;">
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                C#
                            </div>
                        </div>
                    </div>
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                JavaScript
                            </div>
                        </div>
                    </div>
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                TypeScript
                            </div>
                        </div>
                    </div>
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                HTML/CSS
                            </div>
                        </div>
                    </div>
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                React.js
                            </div>
                        </div>
                    </div>
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                Next.js
                            </div>
                        </div>
                    </div>
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                Node.js
                            </div>
                        </div>
                    </div>
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                TailwindCSS
                            </div>
                        </div>
                    </div>
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                SQL
                            </div>
                        </div>
                    </div>
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                Figma
                            </div>
                        </div>
                    </div>
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                Git
                            </div>
                        </div>
                    </div>
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                Linux
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- my skills end -->
        </div>
    </div>

    <%- include ('partials/footer.ejs') %>