<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Thu Ha Le - Personal Portfolio Website" />
    <meta name="keywords"
        content="blog, business card, creative, creative portfolio, cv theme, online resume, personal, portfolio, professional cv, responsive portfolio, resume, resume theme, vcard" />
    <meta name="author" content="willy wonka" />
    <title>Thu Ha Le - Personal Portfolio Website</title>
    <!--favicon-img-->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <!--favicon-img-->
    <!--main css file should not be removed -->
    <link rel="stylesheet" href="css/index.css">
    <!--main css file-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
</head>

<body>
    <!--contains all the div-->
    <div id="all">
        <!--mouse follower-->
        <div class="cursor"></div>
        <!--mouse  follower-->
        <!--loader-->
        <div id="loader">
            <span class="color">Thu Ha</span>Le
        </div>
        <!--loader-end-->
        <!--link-screen-->
        <div id="breaker">
        </div>
        <div id="breaker-two">
        </div>
        <!--link-screen-->
        <!--Main-Section-->
        <!--Navigator-fullscreen-->
        <div id="navigation-content">
            <div class="logo">
                <img src="images/logo.png" alt="logo">
            </div>
            <div class="navigation-close">
                <span class="close-first"></span>
                <span class="close-second"></span>
            </div>
            <div class="navigation-links">
                <a href="#" data-text="HOME" id="home-link">HOME</a>
                <a href="#" data-text="ABOUT" id="about-link">ABOUT</a>
                <a href="#" data-text="PORTFOLIO" id="portfolio-link">PROJECTS</a>
                <a href="#" data-text="CONTACT" id="contact-link">CONTACT</a>
            </div>
        </div>
        <!--Navigator-Fullscreen END-->
        <!--Home Page-->
        <!--Menubar-->
        <div id="navigation-bar">
            <img src="images/logo.png" alt="logo">
            <div class="menubar">
                <span class="first-span"></span>
                <span class="second-span"></span>
                <span class="third-span"></span>
            </div>
        </div>
        <!--Menubar End-->
        <!--Header-->
        <div id="header">
            <div id="particles"></div>
            <!--Social Media Links-->
            <div class="social-media-links">
                <a href="https://www.linkedin.com/in/thuhale2210/"><img src="images/linkedin logo.png"
                        class="social-media" alt="linkedin-logo"></a>
                <a href="https://github.com/thuhale2210"><img src="images/github-mark-white.png" class="social-media"
                        alt="github-mark"></a>

            </div>
            <!--Social Media Links end-->
            <div class="header-content">
                <div class="header-content-box">
                    <div class="firstline"><span class="color">Thu Ha </span>Le</div>
                    <div class="secondline">
                        I'm a
                        <span class="txt-rotate color" data-period="1200"
                            data-rotate='[ " Software Engineer.", " Designer.", " Freelancer." ]'></span>
                        <span class="slash">|</span>
                    </div>
                    <div class="contact">
                        <a href="Mailto:thuhale2210@gmail.com"><img src="images/mail.png" alt="email-pic"
                                class="contactpic"></a><!--Your email Id write in place of "#"-->
                        <a href="Tel:6476542210"><img src="images/call.png" alt="phone-pic"
                                class="contactpic"></a><!--Your telephone number Id write in place of "#"-->
                    </div>
                </div>
            </div>
            <!--header image-->
            <!-- <div class="header-image">
                <img src="images/man.jpg" alt="logo">
            </div> -->
            <!--header image end-->
        </div>
        <!--Header End-->
        <!--HomePage End-->
        <!--Main-Section End-->
        <!--about-->
        <div id="about">
            <div class="color-changer">
                <div class="color-panel">
                    <img src="images/gear.png" alt="">
                </div>
                <div class="color-selector">
                    <div class="heading">Custom Colors</div>
                    <div class="colors">
                        <ul>
                            <li>
                                <a href="#0" class="color-red " title="color-red"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-purple" title="color-purple"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-malt" title="color-malt"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-green" title="color-green"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-blue" title="color-blue"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-orange" title="color-orange"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--about content-->
            <div id="about-content">
                <div class="about-header">
                    About <span class="color">Me</span>
                    <span class="header-caption">Get to Know <span class="color"> me.</span></span>
                </div>
                <div class="about-main">
                    <div class="about-first-paragraph wow">
                        <!--about description-->
                        <span class="about-first-line">
                            I'm creative
                            <span class="color">web developer</span>
                            based in Toronto, Canada </span>
                        <br>
                        <span class="about-second-line"> Self-motivated and collaborative Software Engineering student
                            with a strong foundation in coding, interface design, and Agile practices. Holds experience
                            in business analysis within the fast-paced financial industry, demonstrating skills in risk
                            management, problem-solving, and data-driven decision-making.</span>
                        <div class="cv">
                            <a
                                href="https://drive.google.com/file/d/1vTj5HDq5X7P_XAMQxLQe6s4ftL7G_uxP/view?usp=share_link"><button>Download
                                    CV</button></a>
                        </div>
                    </div>
                    <!--about picture-->
                    <div class="about-img">
                        <img src="images/about.jpeg" alt="Your Image">
                    </div>
                </div>

            </div>
            <!--services start-->
            <div id="services">
                <div class="color-changer">
                    <div class="color-panel">
                        <img src="images/gear.png" alt="">
                    </div>
                    <div class="color-selector">
                        <div class="heading">Custom Colors</div>
                        <div class="colors">
                            <ul>
                                <li>
                                    <a href="#0" class="color-red " title="color-red"></a>
                                </li>
                                <li>
                                    <a href="#0" class="color-purple" title="color-purple"></a>
                                </li>
                                <li>
                                    <a href="#0" class="color-malt" title="color-malt"></a>
                                </li>
                                <li>
                                    <a href="#0" class="color-green" title="color-green"></a>
                                </li>
                                <li>
                                    <a href="#0" class="color-blue" title="color-blue"></a>
                                </li>
                                <li>
                                    <a href="#0" class="color-orange" title="color-orange"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--services header-->
                <div class="services-heading wow">
                    <span class="color">My</span> Services
                </div>
                <!--services header end-->
                <!--services content-->
                <div class="services-content">
                    <div class="service-one service wow">
                        <div class="service-img">
                            <img src="images/coding.png" alt="service-one">
                        </div>
                        <div class="service-description">
                            <h2>Web Development</h2>
                            <p>I offer comprehensive web development solutions tailored to your unique needs, combining
                                cutting-edge technologies and creative design to create stunning and functional websites
                                that leave a lasting impression</p>
                        </div>
                    </div>

                    <div class="service-two service wow">
                        <div class="service-img">
                            <img src="images/bulb.png" alt="service-two">
                        </div>
                        <div class="service-description">
                            <h2>Creative Design</h2>
                            <p>My creative design services are dedicated to transforming your vision into visually
                                captivating and memorable experiences through innovative and artistic design concepts
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--services content end-->
            <!--services end-->
            <div id="skills">
                <div class="skills-header">
                    My <span class="color"> Skills</span>
                </div>
                <div class="skills-content " style="text-align: center;">
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                C#
                            </div>
                        </div>
                    </div>
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                JavaScript
                            </div>
                        </div>
                    </div>
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                TypeScript
                            </div>
                        </div>
                    </div>
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                HTML/CSS
                            </div>
                        </div>
                    </div>
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                React.js
                            </div>
                        </div>
                    </div>
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                Next.js
                            </div>
                        </div>
                    </div>
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                Node.js
                            </div>
                        </div>
                    </div>
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                TailwindCSS
                            </div>
                        </div>
                    </div>
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                SQL
                            </div>
                        </div>
                    </div>
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                Figma
                            </div>
                        </div>
                    </div>
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                Git
                            </div>
                        </div>
                    </div>
                    <div class="skill-html">
                        <div class="skill-text">
                            <div class="html">
                                Linux
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--about end-->
        <!--portfolio-->
        <div id="portfolio">
            <div class="color-changer">
                <div class="color-panel">
                    <img src="images/gear.png" alt="">
                </div>
                <div class="color-selector">
                    <div class="heading">Custom Colors</div>
                    <div class="colors">
                        <ul>
                            <li>
                                <a href="#0" class="color-red " title="color-red"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-purple" title="color-purple"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-malt" title="color-malt"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-green" title="color-green"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-blue" title="color-blue"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-orange" title="color-orange"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portfolio-header"> <span class="color"> My </span> Projects
                <span class="header-caption"> Some Of My <span class="color"> Works</span></span>
            </div>
            <div id="portfolio-content">
                <div class="portfolio portfolio-first">
                    <div class="portfolio-image">
                        <img src="images/portfolio-first.png" alt="portfolio-first">
                    </div>
                    <div class="portfolio-text">
                        <h2>Personal Finance Management App</h2>
                        <p>An app that provides users with a range of financial tracking features, including expense
                            tracking, income monitoring, budgeting tools, and data visualizations to help them gain
                            insights into their financial health</p>
                        <p>#TypeScript&nbsp;
                            #Next.js&nbsp;
                            #TailwindCSS&nbsp;
                            #MongoDB&nbsp;
                            #ComingSoon</p>
                        <div class="button"><a href="#"><button><span class="index"> View Project<i
                                            class="gg-arrow-right"></i></span></button></a></div>
                    </div>
                </div>
                <div class="portfolio portfolio-second">
                    <div class="portfolio-image">
                        <img src="images/portfolio-second.png" alt="portfolio-second">
                    </div>
                    <div class="portfolio-text">
                        <h2>Fitness App</h2>
                        <p>A fitness app that is designed to empower individuals on their fitness journey, allowing them
                            to explore exercises that target specific body parts, and accessing an extensive library of
                            tutorials with detailed explanation</p>
                        <p>#JavaScript&nbsp;
                            #React.js&nbsp;
                            #HTML&nbsp;
                            #CSS</p>
                        <div class="button"><a href="https://github.com/thuhale2210/Fitness-app"><button><span
                                        class="index"> View Project<i class="gg-arrow-right"></i></span></button></a>
                        </div>
                    </div>
                </div>

                <div class="portfolio portfolio-third">
                    <div class="portfolio-image">
                        <img src="images/portfolio-third.gif" alt="portfolio-third">
                    </div>
                    <div class="portfolio-text">
                        <h2>Flappy Bird In Another World (Innovated version)</h2>
                        <p>An innovated version of the classic Flappy Bird game with added challenges and unique
                            features</p>
                        <p>#C#&nbsp;
                            #Unity</p>
                        <div class="button"><a
                                href="https://github.com/thuhale2210/Flappy-Bird-in-another-world"><button><span
                                        class="index"> View Project<i class="gg-arrow-right"></i></span></button></a>
                        </div>
                    </div>
                </div>
                <div class="portfolio portfolio-fourth">
                    <div class=" portfolio-image">
                        <img src="images/portfolio-fourth.gif" alt="portfolio-fourth">
                    </div>
                    <div class="portfolio-text">
                        <h2>Pokémon Catcher</h2>
                        <p>A web-based game involves catching Pokémon characters using a mouse-controlled net </p>
                        <p>#JavaScript&nbsp;
                            #HTML&nbsp;
                            #CSS</p>
                        <div class="button"><a
                                href="https://github.com/thuhale2210/Pokemon-Catcher---A-Simple-Canvas-Game"><button><span
                                        class="index"> View Project<i class="gg-arrow-right"></i></span></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--portfolio end-->
        <!--contact-->
        <div id="contact">
            <div class="color-changer">
                <div class="color-panel">
                    <img src="images/gear.png" alt="">
                </div>
                <div class="color-selector">
                    <div class="heading">Custom Colors</div>
                    <div class="colors">
                        <ul>
                            <li>
                                <a href="#0" class="color-red " title="color-red"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-purple" title="color-purple"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-malt" title="color-malt"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-green" title="color-green"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-blue" title="color-blue"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-orange" title="color-orange"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="contact-header">Contact <span class="color"> Me</span>
                <div class="contact-header-caption"> <span class="color"> Get</span> In Touch.</div>
            </div>
            <div class="contact-content">
                <!--Contact form-->
                <div class="contact-form">
                    <div class="form-header">
                        Message Me
                    </div>
                    <form id="myForm" action="#">
                        <div class="input-line">
                            <input id="name" type="text" placeholder="Name" class="input-name">
                            <input id="email" type="email" placeholder="Email" class="input-name">
                        </div>
                        <input type="text" id="subject" placeholder="subject" class="input-subject">
                        <textarea id="body" class="input-textarea" placeholder="message"></textarea>
                        <button type="button" id="submit" value="send">Submit</button>
                    </form>

                </div>
                <!--Contact form-->
                <!--Contact information-->
                <div class="contact-info">
                    <div class="contact-info-header">
                        Contact Info
                    </div>
                    <div class="contact-info-content">
                        <div class="contect-info-content-line">
                            <img src="./images/icon-name.png" class="icon" alt="name-icon">
                            <div class="contact-info-icon-text">
                                <h6>Name</h6>
                                <p>Thu Ha Le</p>
                            </div>
                        </div>
                        <div class="contect-info-content-line">
                            <img src="./images/icon-location.png" class="icon" alt="location-icon">
                            <div class="contact-info-icon-text">
                                <h6>Location</h6>
                                <p>Toronto, Canada</p>
                            </div>
                        </div>
                        <div class="contect-info-content-line">
                            <img src="./images/icon-phone.png" class="icon" alt="phone-icon">
                            <div class="contact-info-icon-text">
                                <h6>Call</h6>
                                <p>+16476542210</p>
                            </div>
                        </div>

                        <div class="contect-info-content-line">
                            <img src="./images/icon-email.png" class="icon" alt="email-icon">
                            <div class="contact-info-icon-text">
                                <h6>Email</h6>
                                <p>thuhale2210@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <!--Contact information end-->
                </div>
            </div>
        </div>
        <!--contact end-->
    </div>
    <!--all the divisions-->
    <script src="js/jquery.min.js"></script>
    <script src="js/index.js"></script>


</body>

</html>