<!-- File name: projects.ejs
Student Name: Thu Ha Le
Student ID: 301259611 
Date: September 27, 2023 -->

<main>
    <!--contains all the div-->
    <div id="all">
        <!--mouse follower-->
        <div class="cursor"></div>
        <!--mouse  follower-->
        
        <!--link-screen-->
        <div id="breaker">
        </div>
        <div id="breaker-two">
        </div>
        <!--link-screen-->
        <!--Main-Section-->
        
        <!--Home Page-->
        <!--Menubar-->
        <div id="navigation-bar">
            <img src="images/logo.png" alt="logo">
            <div class="menubar">
                <span class="first-span"></span>
                <span class="second-span"></span>
                <span class="third-span"></span>
            </div>
        </div>
        <!--Menubar End-->
        <!--portfolio-->
        <div id="portfolio">
            <div class="color-changer">
                <div class="color-panel">
                    <img src="images/gear.png" alt="">
                </div>
                <div class="color-selector">
                    <div class="heading">Custom Colors</div>
                    <div class="colors">
                        <ul>
                            <li>
                                <a href="#0" class="color-red " title="color-red"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-purple" title="color-purple"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-malt" title="color-malt"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-green" title="color-green"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-blue" title="color-blue"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-orange" title="color-orange"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portfolio-header"> <span class="color"> My </span> Projects
                <span class="header-caption"> Some Of My <span class="color"> Works</span></span>
            </div>
            <div id="portfolio-content">
                <div class="portfolio portfolio-first">
                    <div class="portfolio-image">
                        <img src="images/portfolio-first.png" alt="portfolio-first">
                    </div>
                    <div class="portfolio-text">
                        <h2>Personal Finance Management App</h2>
                        <p>An app that provides users with a range of financial tracking features, including expense
                            tracking, income monitoring, budgeting tools, and data visualizations to help them gain
                            insights into their financial health</p>
                        <p>#TypeScript&nbsp;
                            #Next.js&nbsp;
                            #TailwindCSS&nbsp;
                            #MongoDB&nbsp;
                            #ComingSoon</p>
                        <div class="button"><a href="#"><button><span class="index"> View Project<i
                                            class="gg-arrow-right"></i></span></button></a></div>
                    </div>
                </div>
                <div class="portfolio portfolio-second">
                    <div class="portfolio-image">
                        <img src="images/portfolio-second.png" alt="portfolio-second">
                    </div>
                    <div class="portfolio-text">
                        <h2>Fitness App</h2>
                        <p>A fitness app that is designed to empower individuals on their fitness journey, allowing them
                            to explore exercises that target specific body parts, and accessing an extensive library of
                            tutorials with detailed explanation</p>
                        <p>#JavaScript&nbsp;
                            #React.js&nbsp;
                            #HTML&nbsp;
                            #CSS</p>
                        <div class="button"><a href="https://github.com/thuhale2210/Fitness-app"><button><span
                                        class="index"> View Project<i class="gg-arrow-right"></i></span></button></a>
                        </div>
                    </div>
                </div>

                <div class="portfolio portfolio-third">
                    <div class="portfolio-image">
                        <img src="images/portfolio-third.gif" alt="portfolio-third">
                    </div>
                    <div class="portfolio-text">
                        <h2>Flappy Bird In Another World (Innovated version)</h2>
                        <p>An innovated version of the classic Flappy Bird game with added challenges and unique
                            features</p>
                        <p>#C#&nbsp;
                            #Unity</p>
                        <div class="button"><a
                                href="https://github.com/thuhale2210/Flappy-Bird-in-another-world"><button><span
                                        class="index"> View Project<i class="gg-arrow-right"></i></span></button></a>
                        </div>
                    </div>
                </div>
                <div class="portfolio portfolio-fourth">
                    <div class=" portfolio-image">
                        <img src="images/portfolio-fourth.gif" alt="portfolio-fourth">
                    </div>
                    <div class="portfolio-text">
                        <h2>Pokémon Catcher</h2>
                        <p>A web-based game involves catching Pokémon characters using a mouse-controlled net </p>
                        <p>#JavaScript&nbsp;
                            #HTML&nbsp;
                            #CSS</p>
                        <div class="button"><a
                                href="https://github.com/thuhale2210/Pokemon-Catcher---A-Simple-Canvas-Game"><button><span
                                        class="index"> View Project<i class="gg-arrow-right"></i></span></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--portfolio end-->
    </div>
</main>