<!-- File name: services.ejs
Student Name: Thu Ha Le
Student ID: 301259611 
Date: September 27, 2023 -->

<body>
    <div id="all">
        <div class="cursor"></div>  
        <div id="breaker">
        </div>
        <div id="breaker-two">
        </div>

        <!--Menubar-->
        <div id="navigation-bar">
            <img src="images/logo.png" alt="logo">
            <div class="menubar">
                <span class="first-span"></span>
                <span class="second-span"></span>
                <span class="third-span"></span>
            </div>
        </div>
        <!--Menubar End-->

        <!--services start-->
        <div id="services">
            <div class="color-changer">
                <div class="color-panel">
                    <img src="images/gear.png" alt="">
                </div>
                <div class="color-selector">
                    <div class="heading">Custom Colors</div>
                    <div class="colors">
                        <ul>
                            <li>
                                <a href="#0" class="color-red " title="color-red"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-purple" title="color-purple"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-malt" title="color-malt"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-green" title="color-green"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-blue" title="color-blue"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-orange" title="color-orange"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--services header-->
            <div class="services-heading wow">
                <span class="color">My</span> Services
            </div>
            <!--services header end-->
            <!--services content-->
            <div class="services-content">
                <div class="service-one service wow">
                    <div class="service-img">
                        <img src="images/coding.png" alt="service-one">
                    </div>
                    <div class="service-description">
                        <h2>Web Development</h2>
                        <p>I offer comprehensive web development solutions tailored to your unique needs, combining
                            cutting-edge technologies and creative design
                        </p>
                    </div>
                </div>

                <div class="service-two service wow">
                    <div class="service-img">
                        <img src="images/bulb.png" alt="service-two">
                    </div>
                    <div class="service-description">
                        <h2>Creative Design</h2>
                        <p>My creative design services are dedicated to transforming your vision into visually
                            captivating and memorable experiences through innovative and artistic design concepts
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--services content end-->
        <!--services end-->
    </div>
</body>
